.nav {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background: rgb(186, 186, 186);
  color: #fff;
  background-color: rgb(249, 249, 249);
}

.link {
  margin-right: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #1098f7;
  background: #fff;
}
